body {
    background-image: url("https://t3.ftcdn.net/jpg/01/68/98/38/240_F_168983856_2PesBq8YgCJ5nWV1glQ2hygRpdf9MNDF.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-color: #fbd071;
}
#container {
    display: flex;
    width: 300px;
    flex-direction: column;
    margin-left: 50px;
}
h3 {
    display: flex;
    justify-content: center;
}
#countdown {
    font-size: 60px;
    display: flex;
    justify-content: center;
}
#btn {
    border: dodgerblue solid 3px;
    padding: 15px;
    border-radius: 15px;
    font-size: 20px;
}
