body{
    background-image: url("https://t3.ftcdn.net/jpg/01/68/98/38/240_F_168983856_2PesBq8YgCJ5nWV1glQ2hygRpdf9MNDF.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
