body{
    background-image: url("https://t4.ftcdn.net/jpg/04/27/65/97/240_F_427659756_QSnu1Xc6v8jvxmgbacifJuuWkwll7SYO.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
